<div class="Photo Details">
	<h1> Photo Details </h1>
	</div>

	<h3> <%= @phot.title %> </h3>
	<code>Description: </code>
	<p class="showtext"> <%= @phot.description %></p>

	
	                 

	<code>Image: </code>
	
	<p class="showtext"><%= @phot.updated_at.localtime %></p>
	
	
	<%= image_tag @phot.image.url, :size => "260x180" %>









	<div class=buttons><%= link_to "Back", photoalbum_path(id: @photoal.id) %></div>

	<% if @photoal.user_id == current_user.id %>
	<div class=buttons><%= link_to "Edit", edit_photoalbum_photo_path(id: @phot.id) %></div>
	<div class=buttons><%= link_to "New", new_photoalbum_photo_path(photoalbum_id: @photoal) %></div>
	<td><div class="buttons"><%= link_to "Delete", photoalbum_photo_path(photoalbum_id: @photoal.id, id: @phot.id), 
												method: :delete,
												data: { confirm: 'Are You Sure?' } %>	
												</div></td>
	
	<% end %>

	<!-- why (id: @post.id) because there are 2 ways to do a hash, one way is { _ => _} or {_: _} using a symbol -->
	<div class=buttons><%= link_to "Back_to_All_Photos", photoalbum_path(id: @photoal.id) %></div>
	<div class=buttons><%= link_to "Back_to_All_Photoalbums", photoalbums_path %></div>




	<%= form_for @comm, url: photoalbum_photo_comments_path(photoalbum_id: @photoal.id, photo_id: @phot), method: :post do |f| %>

	
		<%= f.text_field :body %>
	
		<%= f.submit "Submit Comments" %>

	<% end %>



	<% @phot.comments.each do |comm| %>

		<%= comm.body %> 
		<%= comm.user.email %> 


		


<% if comm.user_id == current_user.id %>

	<div>
		<%= link_to "Delete", photoalbum_photo_comments_path(photoalbum_id: @photoal.id, photo_id: @phot, id: comm.id),
						method: :delete,
						data: { confirm: 'Are You Sure?' } %>
	</div>
<% end %>




<% end %>

