<div class="Photo Details">
	<h1> Photo Details </h1>
	</div>

<table class="albumshow">
	<thead>
		<th><u>Title</u></th>
		<th><u>Description</u></th>
		<th><u>Created</u></th>

	</thead>
	<tbody>
		<tr>
			<td><%= @phot.title %></td>
			<td><%= @phot.description %></td>
			<td><%= @phot.updated_at.localtime.day %> Days Ago (Needs Attention)</td>
		</tr>
	</tbody>
</table>

<p></p>

	<%= image_tag @phot.image.url %>
<hr>
	<% if @photoal.user_id == current_user.id %>

		<div class=buttons><%= link_to "Back", photoalbum_path(id: @photoal.id) %></div>

	    <div class="buttons"><%= link_to "Edit", edit_photoalbum_photo_path(photoalbum_id: @photoal.id), id: @phot.id %></div>
	    <div class="buttons"><%= link_to "Delete", photoalbum_path(photoalbum_id: @photoal.id) %></div>

	 <% end %>


	<div class=buttons><%= link_to "Back_to_All_Photoalbums", photoalbums_path %></div>

	
<hr>